name: CI - Publish

on:
  release:
    types: [created]

env:
  LATEST_PYTHON_VERSION: 3.13

jobs:
  publish:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.LATEST_PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: |
          python3 -m pip install build
          rm -rf dist
          python3 -m build
      - name: Publish package to PyPI
        run: |
          python3 -m pip install twine
          python3 -m twine upload -u __token__ -p ${{ secrets.PYPI_TOKEN }} dist/*
      - name: Attach binaries to release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: dist/*
